<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Control 아두이노 LEF <%= title %></p>

    <a><font color = tomato size = 4>RED : </font></a>
    <a href="/led/redon">LED 켜기</a>
    <a href="/led/redoff">LED 끄기</a><br>

    <a><font color = orange size = 4>YELLOW : </font></a>
    <a href="/led/yellowon">LED 켜기</a>
    <a href="/led/yellowoff">LED 끄기</a><br>

    <a><font color = green size = 4>GREEN : </font></a>
    <a href="/led/greenon">LED 켜기</a>
    <a href="/led/greenoff">LED 끄기</a><br><br>

  </body>
</html>
